
div {
    margin: 1rem 0 1rem 0;
}

div.myPadding {
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 12px;
}

.mainContent {
    display: block;
    width: 90%;
    margin: auto;
    padding-top: 2rem;
}

#title {
    background-color: #578c1c;
    color: white;
}

#instructions {
    background-color: #FAE6CE;
    color: green;
}

.chalkboard {
    background-image: url("../images/black-chalkboard.jpg");
    color: white;
    font-family: chalkduster;
    font-size: 1rem;
}

.myCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rowHeader {
    text-align: center;
}

form {
    text-align: left;
}

.btn-complete {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}